In [721]:
import scipy.io
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import math
from random import random,seed
from itertools import *

In [722]:
#dataExtraction

In [723]:
data = scipy.io.loadmat("C://Users/Home/Downloads/fashion_mnist.mat") 
df_X = data['trX']
testX = data['tsX']
dfY = data['trY']
testY = data['tsY']
testY = testY.tolist()
Y=pd.DataFrame(dfY.T)

In [724]:
Y[0][6000]

1.0

In [725]:
#Method to extract features
def extractFeatures(df):
    X1=[]
    X2=[]
    for i in range(0,len(df)):
        X1.insert(i,np.mean(df[i]))
        X2.insert(i,np.std(df[i]))
    return X1,X2

In [726]:
#Sigmoid aka Logistic Function
def sigmoid(W,X):
    z = np.dot(W.T,X)
    return 1/(1+np.exp(-z))

In [727]:
#Function to update weights for each epoch
def weightCalc(X,Y,W,learnRate):
    Sig = sigmoid(W,X)
    for i in range(len(w)):
        gradient = X[i]*(Y-Sig)
        W[0][i] = W[0][i] + learnRate * gradient
    return W

In [728]:
#Function to train the classifier
def logitClassifier(epochs,X,Y,wt):
    learningRate = 0.001
    for i in range(epochs):        
        print("Epoch no:"+str(i))
        for j in range(0,len(X.columns)):
            wt = weightCalc(df[j],Y[0][j],wt,learningRate)
    return wt

In [729]:
#Predict the function
def predict(X,result_W,df_testY):
    for i in range(0,len(X.columns)):
        z = sigmoid(result_W,X[i])
        if(z>0.5):
            print(z)
            df_testY[0][i]=1.0
        else:
            df_testY[0][i]=0.0
    return df_testY

In [730]:
#Defining Weight Coeff vector
w = pd.DataFrame(random() for i in range(3))
w

          0
0  0.211125
1  0.831608
2  0.573532

In [731]:
#Extracting Features

In [732]:
#TrainDataframe
#Extract features of train data and include bias parameter
df=pd.DataFrame(extractFeatures(df_X))
df = df.append(pd.Series(0, index=df.columns), ignore_index=True)

In [733]:
#swap rows to bring bias parameter to index 0
temp = df.iloc[0].copy()
df.iloc[0] = df.iloc[2]
df.iloc[2] = temp

In [734]:
temp = df.iloc[2].copy()
df.iloc[2] = df.iloc[1]
df.iloc[1] = temp

In [735]:
#train dataframe after swapping
df

,0,1,2,3,4,5,6,7,8,9,...,11990,11991,11992,11993,11994,11995,11996,11997,11998,11999
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.423159,0.143367,0.306057,0.347949,0.369848,0.370048,0.108198,0.345838,0.298114,0.342477,...,0.291206,0.228401,0.199535,0.247199,0.257783,0.168517,0.328006,0.179372,0.189001,0.213891
2,0.395417,0.194897,0.407228,0.332871,0.374355,0.326722,0.141421,0.310753,0.268215,0.396915,...,0.410923,0.383142,0.312445,0.379795,0.404433,0.255543,0.362793,0.274561,0.325558,0.364859

In [736]:
#Test dataframe
#Extract features of test data and include bias parameter
df_testX=pd.DataFrame(extractFeatures(testX))
df_testX =df_testX.T
df_testX[2]=0 #addind the bias param
df_testX[1],df_testX[2] = df_testX[2],df_testX[1]#swapping columns to bring the bias parameter to index 0
df_testX[0],df_testX[1] = df_testX[1],df_testX[0]#swapping columns to bring the bias parameter to index 0
df_testX =df_testX.T
df_testX.head()

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.225665,0.114816,0.164591,0.358593,0.190886,0.166967,0.321469,0.426886,0.223724,0.216937,...,0.560334,0.423985,0.185889,0.248594,0.387385,0.096439,0.233683,0.217972,0.175030,0.241417
2,0.222569,0.221261,0.263742,0.424441,0.293430,0.270993,0.298725,0.398402,0.352970,0.245699,...,0.421597,0.420248,0.296849,0.234932,0.422711,0.170104,0.383631,0.341390,0.166916,0.374308

In [737]:
#defining the test dataframe that will contain the predicted class labels
df_testY = pd.DataFrame(index=np.arange(2000),columns=np.arange(1))
df_testY

        0
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
...   ...
1995  NaN
1996  NaN
1997  NaN
1998  NaN
1999  NaN

[2000 rows x 1 columns]

In [738]:
#run the classifier to train the model
result = logitClassifier(50,df,Y,w)

Epoch no:0
Epoch no:1
Epoch no:2
Epoch no:3
Epoch no:4
Epoch no:5
Epoch no:6
Epoch no:7
Epoch no:8
Epoch no:9
Epoch no:10
Epoch no:11
Epoch no:12
Epoch no:13
Epoch no:14
Epoch no:15
Epoch no:16
Epoch no:17
Epoch no:18
Epoch no:19
Epoch no:20
Epoch no:21
Epoch no:22
Epoch no:23
Epoch no:24
Epoch no:25
Epoch no:26
Epoch no:27
Epoch no:28
Epoch no:29
Epoch no:30
Epoch no:31
Epoch no:32
Epoch no:33
Epoch no:34
Epoch no:35
Epoch no:36
Epoch no:37
Epoch no:38
Epoch no:39
Epoch no:40
Epoch no:41
Epoch no:42
Epoch no:43
Epoch no:44
Epoch no:45
Epoch no:46
Epoch no:47
Epoch no:48
Epoch no:49

In [739]:
#the updated weight matrix
result

          0
0  0.211125
1 -7.612292
2  6.822522

In [740]:
#Predict for the test data
df_testY = predict(df_testX,result,df_testY)
df_testY

[0.65374535]
[0.63331752]
[0.54141451]
[0.63386838]
[0.64057436]
[0.66931573]
[0.50622489]
[0.57134734]
[0.69777754]
[0.67465066]
[0.66050251]
[0.51945731]
[0.68275671]
[0.60616479]
[0.61329906]
[0.69824932]
[0.60759734]
[0.5258687]
[0.66429775]
[0.71024427]
[0.55210428]
[0.57165802]
[0.50529829]
[0.5055772]
[0.64900816]
[0.64164495]
[0.63773505]
[0.62909854]
[0.67781983]
[0.65407436]
[0.68082649]
[0.61762802]
[0.54907481]
[0.57192235]
[0.52996965]
[0.63610237]
[0.66751437]
[0.65467693]
[0.58950262]
[0.63753482]
[0.7039766]
[0.67186883]
[0.62773677]
[0.61551866]
[0.68850796]
[0.66801075]
[0.6638163]
[0.63544691]
[0.62804603]
[0.64870363]
[0.59999612]
[0.51975828]
[0.63631273]
[0.53560809]
[0.55913456]
[0.51457496]
[0.52445498]
[0.68194262]
[0.58759892]
[0.68171901]
[0.63789993]
[0.51960384]
[0.67422656]
[0.6068926]
[0.69423137]
[0.66535709]
[0.66646596]
[0.62788803]
[0.68638022]
[0.67358504]
[0.67571555]
[0.6981377]
[0.69312773]
[0.71468907]
[0.63064186]
[0.67271861]
[0.65755296]
[0.68572513]
[0.57552903]
[0.52569858]
[0.62135261]
[0.69471387]
[0.52205142]
[0.62576753]
[0.51611398]
[0.66923612]
[0.67175864]
[0.61143877]
[0.6355776]
[0.70705513]
[0.67054949]
[0.66793998]
[0.63228219]
[0.66503584]
[0.60755074]
[0.53662249]
[0.69914627]
[0.69489362]
[0.64045544]
[0.69552387]
[0.50665603]
[0.54055315]
[0.71860671]
[0.65773137]
[0.70998399]
[0.62051778]
[0.52656653]
[0.5331837]
[0.60010752]
[0.68674844]
[0.67018899]
[0.61655555]
[0.63864817]
[0.63828924]
[0.60714442]
[0.62494964]
[0.64608582]
[0.53394415]
[0.54340826]
[0.55115463]
[0.54619627]
[0.51043981]
[0.64065867]
[0.66023779]
[0.61052082]
[0.6961471]
[0.67514997]
[0.57095284]
[0.67821622]
[0.61035723]
[0.64737427]
[0.51669252]
[0.63642585]
[0.63876639]
[0.64538281]
[0.65933099]
[0.61572354]
[0.54398952]
[0.68720274]
[0.69267919]
[0.65712218]
[0.6201299]
[0.65109096]
[0.65313106]
[0.65627289]
[0.62702053]
[0.65115855]
[0.62976083]
[0.67102773]
[0.58425801]
[0.65152975]
[0.5886435]
[0.64386183]
[0.66161473]
[0.62716834]
[0.66048091]
[0.6651329]
[0.69730191]
[0.60044169]
[0.67591108]
[0.55922028]
[0.57237294]
[0.62552697]
[0.65932337]
[0.69058888]
[0.67720631]
[0.65382805]
[0.679051]
[0.66610645]
[0.64536234]
[0.60669694]
[0.67844412]
[0.67431135]
[0.65282518]
[0.61038158]
[0.64193387]
[0.6645085]
[0.70319834]
[0.63867338]
[0.67057558]
[0.60702841]
[0.66741351]
[0.66734897]
[0.64304764]
[0.57723075]
[0.5292927]
[0.62291793]
[0.67532975]
[0.66304072]
[0.53402195]
[0.65910696]
[0.68817183]
[0.59784076]
[0.50660233]
[0.60639885]
[0.66265854]
[0.59512132]
[0.60268726]
[0.56562554]
[0.64827404]
[0.65202491]
[0.70987646]
[0.53756103]
[0.66507364]
[0.60813702]
[0.68297184]
[0.63760888]
[0.56676395]
[0.6169109]
[0.64713005]
[0.67395455]
[0.64174384]
[0.63469429]
[0.67358852]
[0.50886626]
[0.50754753]
[0.64139505]
[0.66862805]
[0.64479643]
[0.65907988]
[0.65194635]
[0.52833868]
[0.65097531]
[0.63271115]
[0.58392533]
[0.59991295]
[0.72827341]
[0.66856484]
[0.66140537]
[0.6360501]
[0.69041511]
[0.66653022]
[0.67587214]
[0.65391781]
[0.63563642]
[0.56182898]
[0.52829287]
[0.60532027]
[0.62404374]
[0.51101881]
[0.57539936]
[0.55478728]
[0.55822001]
[0.66581504]
[0.65598486]
[0.56609839]
[0.67170189]
[0.58044738]
[0.51102838]
[0.66834197]
[0.65579586]
[0.51591539]
[0.68902573]
[0.56420563]
[0.67291314]
[0.70548203]
[0.64626556]
[0.66187371]
[0.6464189]
[0.65651095]
[0.64164553]
[0.64326133]
[0.69312431]
[0.65231676]
[0.69029203]
[0.65807043]
[0.61554977]
[0.64451151]
[0.68919708]
[0.66842566]
[0.64405601]
[0.70457126]
[0.59939706]
[0.56193237]
[0.53746706]
[0.52800817]
[0.67551418]
[0.66490989]
[0.64589298]
[0.63008081]
[0.67270035]
[0.68045505]
[0.63927747]
[0.70636425]
[0.6438139]
[0.506253]
[0.615425]
[0.63393561]
[0.53138261]
[0.67699229]
[0.59074817]
[0.63545144]
[0.70835465]
[0.57533206]
[0.62006925]
[0.6496463]
[0.70177949]
[0.65251152]
[0.69683143]
[0.58610626]
[0.65316955]
[0.68564609]
[0.65049359]
[0.5785257]
[0.52734919]
[0.65220376]
[0.55790201]
[0.66827659]
[0.62540209]
[0.65615809]
[0.51265133]
[0.64082702]
[0.67750826]
[0.68755799]
[0.71979769]
[0.66186487]
[0.58410261]
[0.67095215]
[0.64146121]
[0.60577581]
[0.6939506]
[0.64287089]
[0.68242021]
[0.68233176]
[0.62005447]
[0.64263743]
[0.63793686]
[0.5409082]
[0.63683353]
[0.66877087]
[0.57665937]
[0.62853634]
[0.62657961]
[0.69181514]
[0.52112505]
[0.65655964]
[0.66866673]
[0.68523586]
[0.58357891]
[0.51032007]
[0.66301612]
[0.68736772]
[0.56062251]
[0.59855307]
[0.62796133]
[0.64043142]
[0.62182808]
[0.66381356]
[0.64627571]
[0.52954775]
[0.67297905]
[0.62154262]
[0.65929014]
[0.64108598]
[0.67338117]
[0.70033721]
[0.52837941]
[0.65421097]
[0.69159647]
[0.66468611]
[0.68924519]
[0.60963322]
[0.55549988]
[0.54502847]
[0.63632248]
[0.50019139]
[0.60316033]
[0.53618361]
[0.51231079]
[0.68013645]
[0.5300798]
[0.62145109]
[0.67049957]
[0.54329611]
[0.61135936]
[0.6322806]
[0.67334031]
[0.61921949]
[0.61386265]
[0.70350117]
[0.66873993]
[0.56370489]
[0.60292405]
[0.64866519]
[0.52183382]
[0.52650511]
[0.51862607]
[0.59637262]
[0.61854712]
[0.57639842]
[0.67742175]
[0.69398855]
[0.67935159]
[0.66557401]
[0.5417568]
[0.6317505]
[0.60867811]
[0.68090739]
[0.69155084]
[0.62545581]
[0.63514248]
[0.67401214]
[0.69295233]
[0.67299946]
[0.50383657]
[0.67476745]
[0.66017968]
[0.59021362]
[0.50230041]
[0.5119941]
[0.69872927]
[0.67615608]
[0.6086622]
[0.62630009]
[0.57099248]
[0.5625248]
[0.67897462]
[0.64975198]
[0.66885142]
[0.68313729]
[0.67117727]
[0.50413724]
[0.53308161]
[0.67411501]
[0.6185197]
[0.6611874]
[0.66289333]
[0.61606625]
[0.6413193]
[0.57768491]
[0.64566717]
[0.60568192]
[0.64109079]
[0.60818439]
[0.65742944]
[0.55836312]
[0.61809511]
[0.64166817]
[0.61944985]
[0.54649414]
[0.67460956]
[0.65757883]
[0.51144847]
[0.6604283]
[0.53858526]
[0.57005113]
[0.54174939]
[0.66316719]
[0.6574361]
[0.68310927]
[0.51828971]
[0.62689969]
[0.66440613]
[0.6703161]
[0.65528158]
[0.56087211]
[0.62808533]
[0.5022865]
[0.65910843]
[0.63500345]
[0.67099208]
[0.66404963]
[0.5580817]
[0.64276505]
[0.64803025]
[0.64558455]
[0.71400994]
[0.58623436]
[0.62409409]
[0.59919303]
[0.67322501]
[0.70497294]
[0.58943703]
[0.68480766]
[0.63076209]
[0.50350426]
[0.63854941]
[0.60526688]
[0.6877807]
[0.69431875]
[0.64777802]
[0.60444658]
[0.61346283]
[0.70846242]
[0.52916772]
[0.51467289]
[0.69261922]
[0.51752698]
[0.63599213]
[0.57829221]
[0.62979118]
[0.64217472]
[0.55663227]
[0.5013071]
[0.52594032]
[0.63132773]
[0.50559723]
[0.68336746]
[0.58585043]
[0.63756208]
[0.63888057]
[0.56245649]
[0.64621718]
[0.6377548]
[0.63713193]
[0.69139975]
[0.60866758]
[0.56908023]
[0.67360733]
[0.52873351]
[0.64018408]
[0.69892844]
[0.53352542]
[0.5459169]
[0.6527249]
[0.61554042]
[0.54690161]
[0.64390467]
[0.70228053]
[0.65881822]
[0.66235276]
[0.64821683]
[0.65806624]
[0.64075249]
[0.55908833]
[0.56766382]
[0.65565324]
[0.53025411]
[0.61096084]
[0.70736282]
[0.58892164]
[0.68243716]
[0.6963108]
[0.70962576]
[0.67600047]
[0.67354203]
[0.51082472]
[0.62449167]
[0.57280704]
[0.62032342]
[0.53699655]
[0.51697744]
[0.65323819]
[0.61979751]
[0.71072472]
[0.68520983]
[0.64192334]
[0.66304929]
[0.66954057]
[0.65004941]
[0.64850047]
[0.61624267]
[0.56195783]
[0.64471059]
[0.63958122]
[0.61169222]
[0.68985827]
[0.56590709]
[0.61757026]
[0.68459724]
[0.67945725]
[0.5091454]
[0.61952462]
[0.65506698]
[0.64074047]
[0.68999936]
[0.69553408]
[0.5155049]
[0.68916897]
[0.63627088]
[0.60460539]
[0.67654186]
[0.70553524]
[0.64079403]
[0.52471364]
[0.64842607]
[0.60791815]
[0.65253985]
[0.63584218]
[0.65806487]
[0.66679458]
[0.64692367]
[0.64350667]
[0.72568266]
[0.65075765]
[0.69869895]
[0.66742706]
[0.63179848]
[0.67533489]
[0.54539303]
[0.64761678]
[0.6568214]
[0.60575505]
[0.60979514]
[0.67041105]
[0.58945566]
[0.5583094]
[0.64108958]
[0.66531545]
[0.63826279]
[0.67364914]
[0.62346734]
[0.69430685]
[0.70397797]
[0.58238213]
[0.64467991]
[0.66979355]
[0.65318254]
[0.5739164]
[0.6736008]
[0.71668751]
[0.57302937]
[0.65154614]
[0.52291045]
[0.62469849]
[0.64264914]
[0.62795779]
[0.63490304]
[0.63638802]
[0.68309077]
[0.53619772]
[0.65517398]
[0.63828079]
[0.63688037]
[0.64038767]
[0.58338491]
[0.71823027]
[0.5505163]
[0.6973915]
[0.66970628]
[0.70242693]
[0.51085936]
[0.50740742]
[0.56582506]
[0.61210063]
[0.66898605]
[0.51835134]
[0.69491013]
[0.67710299]
[0.6331327]
[0.62406025]
[0.61244327]
[0.6751174]
[0.588902]
[0.52692231]
[0.65716259]
[0.66000761]
[0.67408084]
[0.66671497]
[0.70802091]
[0.5581568]
[0.61466802]
[0.69319399]
[0.6412914]
[0.65590058]
[0.66283359]
[0.58289668]
[0.71853711]
[0.55782244]
[0.66426014]
[0.55916319]
[0.64870328]
[0.68458967]
[0.71288187]
[0.63924851]
[0.64622068]
[0.64561139]
[0.70652205]
[0.51294775]
[0.64508928]
[0.6717555]
[0.63013073]
[0.54585201]
[0.64727221]
[0.50866371]
[0.59330923]
[0.653939]
[0.68509039]
[0.63145281]
[0.65085539]
[0.57127592]
[0.68097894]
[0.52727435]
[0.64593254]
[0.65513838]
[0.67183114]
[0.67987416]
[0.68473285]
[0.52489612]
[0.72412842]
[0.53353144]
[0.68655154]
[0.6488682]
[0.67363166]
[0.57523978]
[0.6678301]
[0.50635551]
[0.56915781]
[0.55450421]
[0.62107688]
[0.55954141]
[0.55850457]
[0.65189389]
[0.65697656]
[0.56161328]
[0.59636391]
[0.67829361]
[0.6742089]
[0.67904407]
[0.66263197]
[0.68414854]
[0.64742795]
[0.65678339]
[0.52539937]
[0.60674501]
[0.66757255]
[0.64669633]
[0.67867046]
[0.66585759]
[0.5090467]
[0.64594472]
[0.70537338]
[0.62309105]
[0.6278928]
[0.61766907]
[0.70880218]
[0.66349611]
[0.54833717]
[0.70499884]
[0.66181563]
[0.67402849]
[0.61541189]
[0.66052262]
[0.69979188]
[0.55458817]
[0.64648945]
[0.54528943]
[0.65141475]
[0.53699803]
[0.67102507]
[0.54079958]
[0.61806929]
[0.71719689]
[0.64451811]
[0.68360697]
[0.61145217]
[0.62904331]
[0.60124369]
[0.61625829]
[0.69579577]
[0.68294378]
[0.68435548]
[0.68561305]
[0.6055798]
[0.60637892]
[0.57013983]
[0.54124564]
[0.64318194]
[0.62327966]
[0.68643234]
[0.66200593]
[0.60933663]
[0.54335364]
[0.61869791]
[0.64018452]
[0.6115547]
[0.60933784]
[0.52004363]
[0.65149805]
[0.67911184]
[0.61257488]
[0.65936329]
[0.50874716]
[0.52638748]
[0.60582543]
[0.70380089]
[0.53249761]
[0.66438623]
[0.65583338]
[0.66174344]
[0.70552001]
[0.63924769]
[0.63854053]
[0.70348531]
[0.6609864]
[0.63127548]
[0.58152708]
[0.69076436]
[0.60954928]
[0.64694254]
[0.68231974]
[0.66566381]
[0.63419998]
[0.62785358]
[0.50443779]
[0.6885789]
[0.68798998]
[0.62674704]
[0.6301828]
[0.55139972]
[0.7004735]
[0.64856702]
[0.70707058]
[0.61298127]
[0.68382058]
[0.66308063]
[0.66929946]
[0.64198733]
[0.66892436]
[0.6453925]
[0.55756866]
[0.56137217]
[0.66268734]
[0.60517003]
[0.61136264]
[0.65709638]
[0.69617143]
[0.62716526]
[0.62191365]
[0.63009788]
[0.5051582]
[0.56189998]
[0.67168171]
[0.61123741]
[0.67416694]
[0.58998205]
[0.66340479]
[0.63042322]
[0.65399653]
[0.61182641]
[0.53207647]
[0.61666441]
[0.68529709]
[0.66427139]
[0.60921782]
[0.69396294]
[0.61840955]
[0.62376014]
[0.62312546]
[0.53944608]
[0.67492886]
[0.62811226]
[0.67744419]
[0.68894375]
[0.6317288]
[0.64460958]
[0.62575962]
[0.59667839]
[0.56700809]
[0.6790567]
[0.65070688]
[0.54043617]
[0.51229478]
[0.70704041]
[0.59339247]
[0.65936239]
[0.64405982]
[0.58957569]
[0.63080315]
[0.5093051]
[0.62871473]
[0.53485998]
[0.6193276]
[0.64953282]
[0.51575998]
[0.65178141]
[0.67403499]
[0.54711588]
[0.65204564]
[0.67501183]
[0.6628282]
[0.6418485]
[0.6360819]
[0.50954503]
[0.62685486]
[0.54979526]
[0.65433491]
[0.66529969]
[0.67600991]
[0.51099076]
[0.66083591]
[0.51397373]
[0.67363163]
[0.68298596]
[0.65245269]
[0.6720932]
[0.66690668]
[0.66902906]
[0.64959777]
[0.56777425]
[0.53969246]
[0.65679136]
[0.57083501]
[0.62880716]
[0.64321023]
[0.61844632]
[0.66332074]
[0.57619897]
[0.56891285]
[0.50535677]
[0.63094999]
[0.61013672]
[0.66664309]
[0.54766795]
[0.6335597]
[0.68724115]
[0.61172832]
[0.51249871]
[0.67015931]
[0.65731745]
[0.6244952]
[0.6766388]
[0.6281778]
[0.63165076]
[0.69470865]
[0.65431979]
[0.63065716]
[0.53936139]
[0.57635932]
[0.66833631]
[0.63522205]
[0.64294106]
[0.70797074]
[0.63940317]
[0.65608292]
[0.68372585]
[0.66635617]
[0.64312821]
[0.54639985]
[0.53646195]
[0.68968243]
[0.66395701]
[0.66346111]
[0.56573527]
[0.64549158]
[0.67282982]
[0.72756369]
[0.55519558]
[0.65294342]
[0.61839444]
[0.63574891]
[0.54025354]
[0.64566887]
[0.66945697]
[0.63613415]
[0.57887611]
[0.65128358]
[0.68933796]
[0.63376586]
[0.70187699]
[0.52554577]
[0.71640818]
[0.65887754]
[0.65455461]
[0.66655171]
[0.62535516]
[0.62607674]
[0.57786325]
[0.61875053]
[0.69447879]
[0.69816225]
[0.73865104]
[0.6560359]
[0.64451465]
[0.55621803]
[0.71665322]
[0.51906634]
[0.65855745]
[0.6145193]
[0.74267871]
[0.57068857]
[0.61044518]
[0.64488703]
[0.6266152]
[0.50486914]
[0.6475622]
[0.67376536]
[0.51025987]
[0.59978886]
[0.65088109]
[0.69354878]
[0.66809546]
[0.68403455]
[0.68926699]
[0.62577353]
[0.50609563]
[0.64544469]
[0.64193773]
[0.73974459]
[0.56821017]
[0.66616542]
[0.51089461]
[0.65929597]
[0.51867578]
[0.55797334]
[0.6123865]
[0.66438098]
[0.67410656]
[0.64341428]
[0.71190072]
[0.53590083]
[0.60271154]
[0.52262198]
[0.59495342]
[0.51474147]
[0.68454655]
[0.69336001]
[0.53708355]
[0.51198102]
[0.65260664]
[0.62377874]
[0.6748833]
[0.68616792]
[0.50358057]
[0.65159374]
[0.64781723]
[0.63030038]
[0.6463094]
[0.70120649]
[0.68468853]
[0.66909654]
[0.56829425]
[0.50111784]
[0.70426116]
[0.63621346]
[0.64229368]
[0.61471786]
[0.5169474]
[0.62808779]
[0.63425215]
[0.67008717]
[0.68975789]
[0.63190881]
[0.67036819]
[0.50276916]
[0.63196279]
[0.61046489]
[0.66648715]
[0.50818673]
[0.5241181]
[0.53385498]
[0.59938277]
[0.59678232]
[0.64351405]
[0.6596618]
[0.68381939]
[0.62283647]
[0.66938993]
[0.63627864]
[0.65385916]
[0.51485574]
[0.6810215]
[0.6946146]
[0.54186014]
[0.53421583]
[0.69139552]
[0.62279464]
[0.67514013]
[0.621048]
[0.61345136]
[0.64083993]
[0.59581124]
[0.68023397]
[0.54475671]
[0.7102269]
[0.62954401]
[0.53281111]
[0.70502785]
[0.67667689]
[0.65490361]
[0.66748233]
[0.591963]
[0.53013345]
[0.65024587]
[0.61777239]
[0.57937893]
[0.61427138]
[0.65867619]
[0.68757296]
[0.57455233]
[0.61480019]
[0.52625264]
[0.69345213]
[0.67495032]
[0.65619615]
[0.50353504]
[0.65533595]
[0.60867661]
[0.64402203]
[0.58709923]
[0.55679083]
[0.65391513]
[0.63599582]
[0.64744945]
[0.65360574]
[0.69731712]
[0.58737159]
[0.51144918]
[0.63784106]
[0.5303805]
[0.66271622]
[0.64561497]
[0.66007862]
[0.62572642]
[0.61955145]
[0.68488324]
[0.66078457]
[0.63894424]
[0.69683975]
[0.68329421]
[0.52798608]
[0.64813879]
[0.67066556]
[0.67737016]
[0.66207725]
[0.63101257]
[0.65067583]
[0.6679427]
[0.53421108]
[0.65030867]
[0.52348574]
[0.67735707]
[0.6300265]
[0.70113986]
[0.67399367]
[0.52736685]
[0.68921916]
[0.50159379]
[0.5529703]
[0.66710146]
[0.66358793]
[0.66123768]
[0.64357457]
[0.6836063]
[0.57826829]
[0.64385361]
[0.674167]
[0.60833203]
[0.62606731]
[0.66514384]
[0.70364601]
[0.66217341]
[0.60892891]
[0.65011829]
[0.66293512]
[0.71259088]
[0.60816898]
[0.65995096]
[0.61121679]
[0.64841431]
[0.52410754]
[0.62413339]
[0.61342513]
[0.63160481]
[0.60795985]
[0.64295305]
[0.69969103]
[0.70054666]
[0.70714398]
[0.65677145]
[0.68320456]
[0.71424304]
[0.5482411]
[0.66552869]
[0.6239701]
[0.62492582]
[0.56235253]
[0.56027519]
[0.61487029]
[0.67300621]
[0.66951879]
[0.67231392]
[0.63255004]
[0.67077183]
[0.69716931]
[0.50419225]
[0.6519167]
[0.60496991]
[0.66524529]
[0.65163488]
[0.6891824]
[0.65877691]
[0.62604865]
[0.6234824]
[0.50965544]
[0.60422964]
[0.50670953]
[0.64799015]
[0.60501764]
[0.69814132]
[0.66147492]
[0.67172394]

      0
0     0
1     1
2     1
3     1
4     1
...  ..
1995  1
1996  1
1997  1
1998  0
1999  1

[2000 rows x 1 columns]

In [741]:
#Include the actual test data results(testY) to the dataframe(df_testY) 
flatten_list = [j for sub in testY for j in sub] 
df_testY[1] = flatten_list

In [742]:
#the test data frame that has both predicted(at index 0) and actual(at index 1) class labels
count=0
for i in range(0,2000):
    if(df_testY[0][i] == 0):
        count+=1;
print(count)

808

In [743]:
df_testY

      0    1
0     0  0.0
1     1  1.0
2     1  1.0
3     1  1.0
4     1  1.0
...  ..  ...
1995  1  1.0
1996  1  1.0
1997  1  1.0
1998  0  0.0
1999  1  1.0

[2000 rows x 2 columns]

In [744]:
#Predict Accuracy
def accuracy_score(X,Y):
    a=0
    for i in range(len(X)):
        if(X[i]==Y[i]):
            a+=1
    return (a/len(X))*100

In [745]:
accuracy = accuracy_score(df_testY[1],df_testY[0])

print("the accuracy of the logistic classfier is:"+str(accuracy)+'%')

the accuracy of the logistic classfier is:86.4%